<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <script>
    /*
      1. 입력금지 문자열을 ,(콤마) 기준으로 입력할 수 있다.
      2. 제한 시간을 넣고 시작버튼을 누르면 텍스트를 넣을 수 있다.
      3. 제한 시간이 실시간으로 표시된다.
      4. 입력중 금지 문자열이 나올 경우 경고를 뛰우고
        확인버튼을 누르면 해당문자열은 삭제되며 시간이 +10초 추가된다.
      5. 제한 시간이 완료되면 텍스트 입력창은 비활성화되고
        입력 창 아래 입력한 문자의 개수가 표시되며
         금지어를 사용한 횟수 * 12 한 벌점을 출력한다
    */
    document.addEventListener('DOMContentLoaded', function(){
    new Vue({
    el : '#app',
    data : {
      forbiddenText : '', //금지문자들
      isWritable : true, //태그활성화
      setTime : 0,        //시간 셋팅 
      inputText : '',     //입력문자
      limitTime :0,       //제한시간
      wordCnt : 0,        //최종입력문자수
      resultScore : 0,     //벌점 : 금지문자 1개 * 12점
      timerObj : null
    },
    methods : {
        start : function(){
          //첫번째 : input 태그 2개가 비활성화
          this.isWritable = false;
          //두번째 : 셋팅된 시간 -> 제한시간이 되고 스탑워치
          clearInterval(this.timerObj);
          this.limitTime = this.setTime;
          this.timerObj = setInterval(()=>{ this.limitTime--}, 1000);
          //세번째 : textarea 태그가 활성화
      }
    },
    watch : {
    limitTime : function(){
      //제한시간이 0에 도달할 경우 처리해야하는 작업
      if(this.limitTime <=0){
        clearInterval(this.timerObj);
        alert('제한시간이 완료되었습니다');
        this.isWritable = true;
    }

    },
    inputText :  function(){
      //입력된 문자들 중에 금지 문자가 있는지를 확인
    }
  },
  computed :{
    //벌점 계산하기
  }
    
	});
})   
  </script>
  <div id="app">
    <h1>제한 시간내에 문자 입력하기</h1>
    <label>
      금지문자(,로 나누어 복수입력가능)
      <input type="text" v-model="forbiddenText" v-bind:disabled="!isWritable" >
    </label>
    <br>
    <label>
      제한시간을 입력하세요(초)
      <input type="number" v-model.number="setTime" v-bind:disabled="!isWritable">
      <button v-on:click="start" v-bind:disabled="!isWritable">시작</button>
    </label>
    <p>남은시간 : {{ limitTime }}초</p>
    <textarea v-model="inputText" v-bind:disabled="isWritable"></textarea>
    <p> {{ wordCnt }}개의 문자를 입력하였습니다.</p>
    <p> 별점 : {{ resultScore }} (금지문자 1개당 12점)</p>
  </div>
</body>
</html>