<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>

</head>
<body>
  <!-- 양방향 바인딩 : v-model => input, select, textarea -->
  <div id="app">
    <input v-model="myName" placeholder="이름">
    <p> 나는 {{ myName }} 입니다.</p>
    <textarea v-model="myText"></textarea>
    <p>문장은, [ {{ myText }} ]</p>
    <p>문자 수는 {{ myText.length}} 입니다.</p>
    <label>
      <input type="checkbox" v-model="myCheck" true-value="on" false-value="off">
      체크박스의 상태 값은 {{ myCheck }}
    </label>
    <div>
    <label><input type="checkbox" v-model="myhobbies" value="독서">독서</label>
    <label><input type="checkbox" v-model="myhobbies" value="영화">영화</label>
    <label><input type="checkbox" v-model="myhobbies" value="글쓰기">글쓰기</label>
    <p>(체크박스) 취미 : {{ myhobbies }}</p>
  </div>
  <div>
    <label><input type="radio" v-model="radioData" value="독서">독서</label>
    <label><input type="radio" v-model="radioData" value="영화">영화</label>
    <label><input type="radio" v-model="radioData" value="글쓰기">글쓰기</label>
    <p>(라디오버튼) 취미 : {{ radioData }}</p>
  </div>
  </div>
  <script>
    let app = new Vue({
      el : '#app',
      data : {
        myName : '',
        myText : '오늘 하루는 어떠신가요?',
        myCheck : true,
        myhobbies : [],
        radioData : []
      },
    });
  </script>
  <div id="app2">
    <label>
      <input type="checkbox" v-model="myAgree">동의합니다
    </label>
    <select v-bind:disabled="myAgree==false" v-model="myColor" multiple>
      <option value="" disabled>색을 골라주세요</option>
      <option value="red">red</option>
      <option value="blue">blue</option>
      <option value="green">green</option>
      <option value="pink">pink</option>
      <option value="orange">orange</option>
    </select>
    <p v-bind:style="{ color : myColor }">선택한 색상은 {{ myColor }} 입니다</p>
  </div>
  <script>
    let app2 = new Vue({
      el : '#app2',
      data : {
        myAgree : false,
        myColor : []
      }
    });
  </script>
  <br><hr><br>
  <div id="app3">
    <!-- 수식어 -->
    <!-- enter 입력하거나 포커스가 이동할 경우 연결된 프로퍼티에 값을 업데이트-->
    <input v-model.lazy="myText">
    <p>입력 후 표시 [ {{ myText }} ]</p>
    <!-- 입력된 값의 타입을 숫자로 변경 -->
    <input type="number" v-model.number="myNumber">
    <p>100을 더해 표시 [ {{ myNumber + 100 }} ]</p>
    <!-- 입력된 데이터 앞뒤의 공백을 제거 -->
    <input v-model.trim="strData">
    <p>앞뒤 공백을 제거 [{{strData}}]</p>
  </div>
  <script>
    let app3 = new Vue ({
      el : '#app3',
      data : {
        myText : '',
        myNumber : 0,
        strData : ''
      }
    })
  </script>
</body>
</html>